<!-- <p>user-profile works!</p> -->


<div class="bg-white p-8 rounded shadow-md max-w-md w-full">
    <img src="https://placekitten.com/100/100" alt="User Avatar" class="rounded-full w-16 h-16 me-auto mb-4">
    <!-- <h2 class="text-xl font-bold text-gray-800 mb-2">John Doe</h2>
    <p class="text-sm text-gray-600 mb-4">Web Developer</p> -->
    <ul class="list-none p-0">
        <!-- <li class="flex items-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-gray-500" viewBox="0 0 20 20"
                fill="currentColor">
                <path
                    d="M10 18a1 1 0 01-1-1v-6a1 1 0 011-1h3a1 1 0 011 1v6a1 1 0 01-1 1h-3zm1-15a7 7 0 100 14 7 7 0 000-14zm0 12a5 5 0 110-10 5 5 0 010 10z" />
            </svg>
            <span class="text-gray-700">New York, NY</span>
        </li> -->
        <li class="flex items-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-gray-500" viewBox="0 0 20 20"
                fill="currentColor">
                <path d="M10 2a8 8 0 100 16 8 8 0 000-16zm0 14a6 6 0 110-12 6 6 0 010 12z" />
                <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
            </svg>
            <span class="text-gray-700">{{currentUser}}</span>
        </li>
        <!-- <li class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-gray-500" viewBox="0 0 20 20"
                fill="currentColor">
                <path d="M10 2a8 8 0 100 16 8 8 0 000-16zm0 14a6 6 0 110-12 6 6 0 010 12z" />
                <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
            </svg>
            <span class="text-gray-700">(123) 456-7890</span>
        </li> -->
    </ul>
</div>